.hero-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	max-width: 62.5em;
	gap: 3em;
	text-align: justify;
}

.hero__title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: var(--fz-heading);
	font-weight: 700;
	gap: 0.5em;
	color: var(--title-color);

	&--code{
		font-family: var(--font-mono);
		font-weight: 400;
		font-size: var(--fz-md);
		color: var(--main-color);
	}

	&--subtitle{
		font-size: var(--fz-xl);
		color: var(--text-color);
	}
}

.btn {
		color: var(--main-color);
		background-color: transparent;
		border: 1px solid var(--main-color);
		border-radius: var(--border-radius);
		font-family: var(--font-mono);
		cursor: pointer;
		transition: 0.5s ease-in-out;
		font-size: var(--fz-sm);
		padding: 1em;

		&:hover {
			color: var(--bg-color);
			background-color: var(--main-color);
		}
}

.btn-container {
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 1;

	&__btn-up {
		font-size: 20px;
		background-color: var(--container-color);
		box-shadow: 0 10px 30px -10px var(--container-shadow);
		color: var(--main-color);
		width: 45px;
		height: 45px;
		opacity: 0.75;
		border: 1px solid var(--main-color);
		border-radius: 8px;
		cursor: pointer;
		animation: bounce 2s infinite;
	}

	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-5%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}

		50% {
			transform: translateY(0);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}

	@media screen and (max-width: 767px) {
		& {
			bottom: 1em;
			right: 1em;
		}
	}
}
